$gray-50: #f8f8f8;
$gray-100: #efefef;
$gray-150: #e4e8f4;
$gray-200: #bfc6d9;
$gray-500: #707070;
$gray-700: #444a5c;
$gray-800: #363c49;
$gray-900: #2b303b;
$blueGray-550: #50717c;
$indigo-100: #4596b4;
$indigo-500: #2d6a9f;
$cyan-100: #5fab9b;
$cyan-200: #6e9e93;
$cyan-300: #578f82;
$cyan-400: #327667;
$purple-850: #4d2277;
